input {
    padding: 5px;
    background-color: burlywood;
}
button {
    padding: 10px;
    margin-top: 50px;
    margin-left: 20px;
}
.form-box {
    display: flex;
    width: 60%;
    margin: 0 auto;;
}